$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$devil-gray: #666666 !default;
$dark-gray: #131313 !default;
$black: #000 !default;

$blue: #0363f4 !default;
$indigo: #3f51b5 !default;
$purple: #673ab7 !default;
$pink: #e91e63 !default;
$red: #f44336 !default;
$empire-red: #a9180e !default;
$faded-red: #fd1212 !default;
$dark-red: #8a0900 !default;
$orange: #ff5722 !default;
$yellow: #ffab00 !default;
$green: #8bc34a !default;
$teal: #009688 !default;
$cyan: #00bcd4 !default;
$light-blue: #add8e6 !default;
$dark-blue: #008cff !default;
$hover-blue: #004f8f !default;
$linkedin-blue: #2867b2 !default;
$fcc-green: #006400 !default;
$hr-green: #28b555 !default;
