@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "colors";

/*
 * Theme definitions
 */

$themes: (
  light: (
    backgroundColor: white,
    footerBackground: white,
    navBackground: $gray-100,
    textColor: $black,
    linkHover: $gray-800,
    themeColor: $dark-blue,
    heartColor: pink,
    titleColor: $dark-blue,
    hrefColor: $dark-blue,
    textHoverColor: $gray-700,
    github: $black,
    linkedin: $linkedin-blue,
    fcc: $fcc-green,
    hr: $hr-green,
    mail: $yellow,
    file: $dark-blue,
    iconBackground: $white,
    cardBackground: $white,
  ),
  dark: (
    backgroundColor: #222,
    footerBackground: #222,
    navBackground: $dark-gray,
    linkHover: $gray-200,
    textColor: $gray-300,
    titleColor: $white,
    hrefColor: $faded-red,
    themeColor: $dark-red,
    heartColor: red,
    github: $dark-red,
    linkedin: $dark-red,
    fcc: $dark-red,
    hr: $dark-red,
    mail: $dark-red,
    file: $dark-red,
    iconBackground: $black,
    cardBackground: $dark-gray,
  ),
);

/*
 * Implementation of themes
 */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

/** CUSTOM THEMING BEGIN */

// header
nav:not(.footer),
nav:not(.footer) * {
  @include themify($themes) {
    background: themed("navBackground") !important;
  }
  & a:hover {
    @include themify($themes) {
      color: themed("linkHover") !important;
      text-decoration: underline themed("themeColor") 0.1rem !important;
    }
  }
}

.footer {
  @include themify($themes) {
    background: themed("backgroundColor");
  }
}

.heart {
  @include themify($themes) {
    color: themed("heartColor");
  }
}

.card-container * {
  @include themify($themes) {
    background: themed("cardBackground");
  }
}

.blog-filter {
  @include themify($themes) {
    & input {
      color: themed("titleColor");
      &:focus {
        box-shadow: 0 0 0 1px rgba(themed("hrefColor"), 0.5) !important;
        border-color: rgba(themed("hrefColor"), 0.5) !important;
      }
    }
  }
}

.resume-tags {
  @include themify($themes) {
    background: themed("navBackground");
  }
}

.icons:hover {
  @include themify($themes) {
    background: themed("iconBackground");
    &.github {
      color: themed("github");
    }
    &.linkedin {
      color: themed("linkedin");
    }
    &.fcc {
      color: themed("fcc");
    }
    &.hr {
      color: themed("hr");
    }
    &.mail {
      color: themed("mail");
    }
    &.file {
      color: themed("file");
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  @include themify($themes) {
    color: themed("titleColor");
  }
}

div {
  @include themify($themes) {
    background: themed("backgroundColor");
  }
}

p {
  @include themify($themes) {
    color: themed("textColor");
  }
}
