@import url("https://fonts.googleapis.com/css?family=Raleway");
@import "../../static/fonts/fonts.css";

@import "themes";

html,
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  height: 100%;
  width: 100%;
  font-size: calc(14px + (18 - 12) * ((70vw - 800px) / (1600 - 400)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-none {
  background: rgba(0, 0, 0, 0);
}

.aurebesh:hover {
  font-family: "Aurabesh", "Raleway", sans-serif;
}

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";
